body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffe0f0; /* Light pink background */
}


.sticker {
    position: absolute;
    top: 10px; /* Adjust the sticker's position */
    left: 50%;
    transform: translateX(-50%);
    z-index: 10; /* Set the z-index higher than the apology-content */
}

.sticker img {
    width: 100px; /* Adjust the size of the sticker */
    height: 100px;
    border-radius: 8px; /* Make the sticker square with rounded corners */
}

.container {
    position: relative;
}



.apology-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Set the z-index lower than the sticker */
}

h1 {
    color: #333;
}

p {
    color: #666;
    margin-bottom: 15px;
}
